@import "tailwindcss";



@theme{
  --color-olive: #323C24;
  --color-olive-dark: #626C38;
  --color-olive-light: #74be6a;
  --color-darkolive: #3A4D29;

  --font-display: "Edu NSW ACT Hand Pre", sans-serif;
}